<form class="login-form" fxLayout="column" fxLayoutAlign="space-around center" >
  <h1>Login Form</h1>
  <div [formGroup]="loginForm"  >
    <mat-form-field appearance="fill" >
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required/>
      <mat-error *ngIf="
          this.loginForm.get('email')?.invalid">
        Email is not valid
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" required />
      <mat-error *ngIf="
          this.loginForm.get('password')?.invalid">
        Length of password is short
      </mat-error>
    </mat-form-field>
    <br>
    <br>
      <button mat-mini-fab class="save-button" (click) = "loginUser()"
        >Login
      </button>
    <!--
      [disabled]="!loginForm.valid" <mat-error *ngIf="userType.hasError('required')">You must make a selection</mat-error>
   -->
  </div>
</form>
<!-- <pre>
  {{loginForm.value | json}}
</pre> -->
