<div class="card-group">
  <div class="card">
    <img src="assets\Images\user.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">First User</h5>
      <p class="card-text">I'm currently pursuing my Engineering degree in PES University</p>
      <p class="card-text"><small class="text-body-secondary"></small></p>
      <button class="btn btn-primary">Add User Info</button>
    </div>
  </div>
  <!-- <div class="card">
    <img src="assets\Images\user5.png"  class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Second User</h5>
      <p class="card-text">I work as criminal lawyer at ABC Firm, handled more than 20 cases with success rate of 90%.</p>
      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="assets\Images\user3.png"  class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Third User</h5>
      <p class="card-text">This is the doctor profile, working at Govt Hospital in Karnataka</p>
      <p class="card-text"><small class="text-body-secondary">All the members are required for regular health check</small></p>
    </div>
  </div>-->
</div>
