<div class="mainstyle" *ngIf="loginStatus===true">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false"
      *ngIf="isHandset$ | async">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="home">Home</a>
        <a mat-list-item routerLink="all-users">All Users</a>
        <a mat-list-item routerLink="appointments">Appointments</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="toggleDrawer()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Health-care</span>
        <div class="admin-log" fxFlex="70" *ngIf="userType==='admin'">
          <mat-nav-list fxLayout="row" fxLayoutAlign="space-around center" class="menu-navbar">
            <a mat-raised-button routerLink="/admin" routerLinkActive="active-tab">
              <mat-icon>home</mat-icon>Home</a>
            <a mat-raised-button routerLink="/all-users" routerLinkActive="active-tab">All Users</a>
            <a mat-raised-button routerLink="/appointments" routerLinkActive="active-tab">Appointments</a>
            <a mat-raised-button routerLink="/logout" routerLinkActive="active-tab" (click)="logoff()">Logout</a>
          </mat-nav-list>
        </div>

        <div class="user-log" *ngIf="userType==='user'" fxFlex="70%">
          <mat-nav-list fxLayout="row" fxLayoutAlign="space-around center">
            <a mat-raised-button routerLink="/user" routerLinkActive="active-tab">
              <mat-icon>home</mat-icon>User</a>
            <a mat-raised-button routerLink="/user-profile" routerLinkActive="active-tab">Profiles</a>
            <a mat-raised-button routerLink="/user-appointment" routerLinkActive="active-tab">Appointment</a>
            <a mat-raised-button routerLink="/logout" routerLinkActive="active-tab" (click)="logoff()">Logout</a>
          </mat-nav-list>
        </div>
      </mat-toolbar>
      <!--  <button *ngif="logValue">logout</button> -->
      <!-- Add Content Here -->

      <!--  <app-admin-main></app-admin-main> -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
<div *ngIf="loginStatus===false">
  <!-- <button mat-stroked-button routerLink="login"></button> -->
</div>
